.footer {
    height: fit-content;
    background-color: #1e2e3ace;
    color: white;
    padding: 3.5% 3%;
    font-family: Arial, sans-serif;
    font-size: 66%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section img {
    width: 100px;
    border-radius: 10px;
    margin:0;
}
.logo-section {
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    align-items: center;
}
.logo-section p {
    margin: 0;
    padding:0;
}

.links-section, .subscribe-section, .address-section {
    display: flex;
    flex-direction: column;
    padding-right: 5%;
}
.links-section, .social-media {
    width: 8%;
}

.footer-links a, .social-media a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 5px 0;
}

.footer-links a:hover, .social-media a:hover {
    text-decoration: underline;
}

.subscribe-section form {
    display: flex;
}

.subscribe-section input, .subscribe-section button {
    padding: 10px;
    margin: 5px;
}

.subscribe-section button {
    background-color: #555;
    border: none;
    color: white;
}

.address-section p {
    margin: 5px 0;
}


@media only screen and (max-width: 950px){
    .subscribe-section{
        display: none;
    }
}

@media only screen and (max-width: 600px){
    .footer-content{
        flex-direction: column;
    }
    .logo-section, .links-section, .social-media, .address-section{
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 3% 0;
    }
}