
.codespaces .container {
    font: 400 18px/1.5 -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
    overflow-y: auto;
}

.codespaces .menus {
    display: flex;
    flex-wrap: nowrap;
}

@media screen and (max-width: 1080px) {
    .codespaces .menus {
        display: flex;
        flex-wrap: wrap;
    }
}

.codespaces .iframe-container {
    display: flex;
}

.codespaces .iframe-container iframe {
    width: 50%;
    border: none;
}

.codespaces .iframe-container iframe {
    height: 400px;
    border-radius: 10px;
}

.codespaces .profile-image {
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #4d4dff;
    box-shadow: 0 0 10px #4d4dff;
}
.codespaces .profile {
    object-fit: cover;
    width: 40px;
    height: 30px;
}