
.codespace .container {
    background: #02071e;
    font: 400 18px/1.5 -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
    overflow-y: auto;
}

.codespace .menus {
    display: flex;
    flex-wrap: nowrap;
}

@media screen and (max-width: 1080px) {
    .codespace .menus {
        display: flex;
        flex-wrap: wrap;
    }
}

.codespace .iframe-container {
    display: flex;
}

.codespace .iframe-container iframe {
    width: 50%;
    border: none;
}

.codespace .iframe-container iframe {
    height: 400px;
    border-radius: 10px;
}

.codespace .profile-image {
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #4d4dff;
    box-shadow: 0 0 10px #4d4dff;
}
.codespace .profile {
    object-fit: cover;
    width: 40px;
    height: 30px;
}