.code{
    background-color: black;
    display: flex;
    position:relative;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    justify-content: flex-end;
    flex-direction: column;
}
.problems{
    display: flex;
    background-color: white;
    height: fit-content;
    justify-content: flex-start;
    flex-direction: column;
}