.footer {
    width: 100vw;
    margin-top: 10%;
    background-color: #4E6579;
    color: white;
    padding: 50px;
    font-family: Arial, sans-serif;
    z-index: 1000000;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.logo-section img {
    width: 80px; /* Adjust based on your logo size */
}

.links-section, .subscribe-section, .address-section {
    display: flex;
    flex-direction: column;
}

.footer-links a, .social-media a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 5px 0;
}

.footer-links a:hover, .social-media a:hover {
    text-decoration: underline;
}

.subscribe-section form {
    display: flex;
}

.subscribe-section input, .subscribe-section button {
    padding: 10px;
    margin: 5px;
}

.subscribe-section button {
    background-color: #555;
    border: none;
    color: white;
}

.address-section p {
    margin: 5px 0;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 0.75em;
}
