.colab-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3D3D3D;
    color: white;
    padding: 1px 10px;
  }

.colab-header .menu {
  display: flex;
  flex-direction: row;
}
  
  .menu-button, .action-button {
    background: none;
    border: none;
    color: white;
    font-size: 13px;
    padding: 5px 10px;
    cursor: pointer;
  }

.action-button.run {
  display: flex;
  align-items: center;
  justify-content: center;
}

  .menu-button.help {
    color: #24c541;
  }
  
  .menu-button:hover, .action-button:hover {
    background-color: #333333;
  }
  
  .action-icon {
    font-size: 20px;
  }
  .dropdown-content {
    display: block;
    position: absolute;
    background-color: #333333;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    margin-top: 0.3rem;
  }
  
  .dropdown-item {
    width: 100%;
    text-align: left;
    padding: 6px 40px;
    color: #333333;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #555;
  }
  
  .actions img{
    width: 13px;
    height: 13px;
  }
  .actions img:hover{
    background-color: #333333;
  }
  .actions{
    display: flex;
    justify-content: space-between;
    flex-direction: row;  
    align-items: center;
  }
  .action-message{
    color:#24c541
  }
