html {
    height: 100%;
}
body {
    display: flex; /* Flexbox를 사용합니다. */
    height: 100%;
    flex-direction: column; /* 자식 요소들을 세로 방향(column)으로 배치합니다. */
    align-items: center; /* 수평으로 중앙 정렬합니다. */
    margin: 0;
    background: #02071e;
    z-index: -3;
    font: 400 18px/1.5 -apple-system, BlinkMacSystemFont, sans-serif;
}
#root {
    width: 100%;
    height: 100%;
}